body {
  font-family: Arial;
  background: #f5f5f5;
  margin: 0;
}

.navbar {
  background: #000;
  padding: 15px;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.container {
  width: 700px;
  margin: 30px auto;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 5px #aaa;
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
}

button {
  padding: 12px;
  width: 100%;
  background: black;
  color: white;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}

.question-card {
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  border-radius: 8px;
  background: #fafafa;
}

.answer-box {
  padding: 10px;
  background: #eee;
  margin-top: 10px;
  border-radius: 5px;
}
